#home-heading{
    margin-left: 5%;
}
#navbarNav{
    margin-left: 78%;
}
#home-img{
    height: 50%;
    width: 50%;
    margin-top: 2%;
    margin-left: 5%;
    float: left;
}
#text-home{
    /* height: 50%;
    width: 50%; */
    margin-top: 2%;
    margin-left: 57%;
    /* float: left; */
    
}
